body{
background-color: #4B9DCB;

}
h1{
  border: white 1px solid;
  border-radius: 20px;
  background-color: white;
  color: #4B9DCB;
  text-align: center;
  list-style: none;
  
}
ul li{
  display: inline-block;
}
ul{
  border: white 1px solid;
  background-color: white;
  border-radius: 20px;
  list-style: none;
  text-align: center;
 
}
ul li{
  color: #4B9DCB;
}
a{
  text-decoration: none;
  border: 2px black solid;
  font-size: 20px;
  color: black;
  background-color: white;
  border-radius: 5px;
}

